legacy-peer-deps=false
strict-peer-deps=false

# Specific packages that need legacy peer deps
# @nestjs/swagger@7.0.0:legacy-peer-deps=true
# swagger-ui-express@5.0.0:legacy-peer-deps=true
# class-transformer@0.5.1:legacy-peer-deps=true